[submodule "coderade.github.io"]
    path = coderade.github.io
    url = git@github.com:coderade/coderade.github.io.git
[submodule "themes/coderade-minimalist-theme"]
    path = themes/coderade-minimalist-theme
    url = git@github.com:coderade/coderade-minimalist-theme.git
